* {
    scrollbar-width: thin;
    scrollbar-color: #032744 #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color: #032744; 
    border-radius: 15px;
    border: 3px solid #070d12;
}
